<div style="text-align:center; margin-top: 50px;">
  <h1>Welcome to SupplyChainX</h1>

  <p>Status: 
    @if (isLoggedIn) {
      <span style="color:green; font-weight:bold">LOGGED IN</span>
    } @else {
      <span style="color:red; font-weight:bold">GUEST</span>
    }
  </p>

  @if (isLoggedIn) {
    <div>
      <h3>Hello, {{ username }}!</h3>
      <button (click)="logout()">Logout</button>
    </div>
  }

  @if (!isLoggedIn) {
    <div>
      <button class="bg-blue-700 h-12 w-80 text-amber-50 rounded-2xl" (click)="login()">Login with Keycloak</button>
    </div>
  }

  <hr style="margin: 20px 0;">

<div style="border: 1px solid #ccc; padding: 20px; border-radius: 8px;">
  <h3>Backend Test</h3>
  <p>Try to send data to Spring Boot:</p>
  
  <button (click)="createTestSupplier()" style="background-color: #007bff; color: white; padding: 10px 20px; border: none; cursor: pointer;">
    Create Supplier (POST)
  </button>

  @if (apiResponse) {
    <p style="margin-top: 15px; font-weight: bold;">{{ apiResponse }}</p>
  }
</div>
</div>